<div class="geometry-input" style="height:375px;">
  <div>
    <input type="radio" value="point" name="geometry" ng-model="geometry" /><label>Point</label>
    <input type="radio" value="line" name="geometry" ng-model="geometry" /><label>Line</label>
    <input type="radio" value="polygon" name="geometry" ng-model="geometry" /><label>Polygon</label>
    <input type="radio" value="box" name="geometry" ng-model="geometry" /><label>Box</label>
  </div>
  <!--input ng-model="searchString" class="form-control" type="text" placeholder="Search for a place"/-->
  <input ng-model="searchResult"
         placeholder="Search for a place (typeahead)"
         typeahead-min-length="3"
         typeahead-wait-ms="100"
         typeahead-template-url="template/geometry-input/geometry-input-typeahead.html"
         typeahead-min-length typeahead-on-select="onSelectGeocode($item)"
         typeahead="item.label as item.label for item in fetchResults($viewValue)"
         class="form-control" />
  <div class="map" style="width: 100%; height: 300px;"></div>
</div>