<div class="geometry-input" style="height:375px;">
  <div>
    <input type="radio" value="point" name="geometry" ng-model="geometry" /><label>Point</label>
    <input type="radio" value="line" name="geometry" ng-model="geometry" /><label>Line</label>
    <input type="radio" value="polygon" name="geometry" ng-model="geometry" /><label>Polygon</label>
    <input type="radio" value="box" name="geometry" ng-model="geometry" /><label>Box</label>
  </div>
  <!--input ng-model="searchString" class="form-control" type="text" placeholder="Search for a place"/-->

  <div style="width: 100%; position: relative;">
    <input ng-model="searchString"
           placeholder="Search for a place (typeahead)"
           typeahead-min-length="3"
           typeahead-wait-ms="100"
           typeahead-loading="isLoading"
           typeahead-template-url="template/geometry-input/geometry-input-typeahead.html"
           typeahead-min-length typeahead-on-select="onSelectGeocode($item)"
           typeahead="item.label as item.label for item in fetchResults($viewValue)"
           class="form-control" />
    <div ng-if="isLoading" class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

  <div class="map" style="width: 100%; height: 300px;"></div>
</div>