<div class="input-group">

  <!-- Note: On some occasions its useful to remove the parent element of this directive for layouting with bootstrap
       For this reason we can't use ng-form on the parent, and instead have to duplicate it for each input-group-addon :/
   -->

  <!-- Term type selector -->
  <div ng-form="forms.type" class="input-group-addon" style="padding: 0px 0px !important;">
    <ui-select name="value" ng-model="state.type" ng-model-options="ngModelOptions" ng-disabled="disabled" theme="selectize"  reset-search-input="false" style="width: 100px;line-height:0;" >
      <ui-select-match placeholder="Termtype">{{$select.selected.displayLabel}}</ui-select-match>
      <ui-select-choices style="z-index: 999;" repeat="item.id as item in termTypes | filter: $select.search">
        <span ng-bind-html="item.displayLabel | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <!-- Datatype selector -->
  <div ng-form="forms.datatype" ng-show="state.type===vocab.typedLiteral" class="input-group-addon" style="border-left: 0px; padding: 0px 0px !important;">
    <ui-select name="value" ng-model="state.datatype" ng-model-options="ngModelOptions" ng-disabled="disabled" theme="selectize" tagging="addDatatype" reset-search-input="false" style="width: 100px;line-height:0;" >
      <ui-select-match placeholder="Datatype">{{$select.selected.displayLabel}}</ui-select-match>
      <!--ui-select-choices repeat="item in datatypes | filter: $select.search" refresh="refreshDatatype($select.search)" refresh-delay="100"-->
      <ui-select-choices style="z-index: 999;" repeat="item.id as item in datatypes | filter: $select.search">
        <span ng-bind-html="item.displayLabel | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <!-- Language selector -->
  <div ng-form="forms.lang" ng-show="state.type===vocab.plainLiteral" class="input-group-addon" style="border-left: 0px; padding: 0px 0px !important;">
    <ui-select name="value" ng-model="state.lang" ng-model-options="ngModelOptions" ng-disabled="disabled" theme="selectize" tagging="addLanguage" reset-search-input="false" style="width: 100px; line-height:0;" >
      <ui-select-match placeholder="Language">{{$select.selected.displayLabel}}</ui-select-match>
      <ui-select-choices style="z-index: 999;" repeat="item.id as item in langs | filter: $select.search">
        <span ng-bind-html="item.displayLabel | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <!-- Input -->
  <div ng-form="forms.value" class="form-control margin-left-1" style="height: 35px !important; padding: 0px; border: 0px; margin: 0px">
    <input name="value" type="text" style="width: 100%; height: 100%;" ng-model="state.value" ng-model-options="ngModelOptions">
  </div>
</div>