<div class="input-group">

    <!-- First input addon -->
    <!-- TODO Make content configurable -->
<!--     <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span> -->
    <span class="input-group-addon" ng-bind-html="logo"></span>

    <!-- Term type selector -->
    <div class="input-group-addon">
        <select ng-model="state.type" ng-model-options="ngModelOptions" ng-options="item.id as item.displayLabel for item in termTypes" ng-change="ensureValidity()"></select>
    </div>

    <!-- Datatype selector -->
    <span ng-show="state.type===vocab.typedLiteral" class="input-group-addon">
        <select ng-model="state.datatype" ng-model-options="ngModelOptions" ng-options="item.id as item.displayLabel for item in datatypes"></select>
    </span>

    <!-- Language selector -->
    <span ng-show="state.type===vocab.plainLiteral" class="input-group-addon">
        <select ng-model="state.lang" ng-model-options="ngModelOptions" ng-options="item.id as item.displayLabel for item in langs"></select>
    </span>

    <input type="text" class="form-control margin-left-1" ng-model="state.value" ng-model-options="ngModelOptions">
</div>

