button.no-border-radius {
  border-radius: 0px !important;
}

input.margin-left-1 {
  margin-left: -1px;
}

button.margin-left-1 {
  margin-left: -1px;
}

.selectize-input {
  padding: 4px 8px !important;
  line-height: 24px !important;
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.input-group-addon {
  min-width: 50px !important;
  min-width:100px;
  text-align:left;
}

.dropdown-menu {
  z-index: 9999;
}

/** SPINNER **/

.spinner {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: -25px;
  margin-right: 10px;
  right: 0;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #78909C;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounceIndicator 2.0s infinite ease-in-out;
  animation: bounceIndicator 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounceIndicator {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounceIndicator {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}