button.no-border-radius {
  border-radius: 0px !important;
}

input.margin-left-1 {
  margin-left: -1px;
}

button.margin-left-1 {
  margin-left: -1px;
}

.selectize-input {
  padding: 4px 8px !important;
  line-height: 24px !important;
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.input-group-addon {
  min-width: 50px !important;
  min-width:100px;
  text-align:left;
}

.dropdown-menu {
  z-index: 9999;
}