<div style="width: 100%">

    <div style="width: 100%; text-align: center">
        <pagination
            ng-show="items.length"
            class="pagination"
            ng-model="currentPage"
            page="currentPage"
            items-per-page="limit"
            total-items="totalItems"
            max-size="maxSize"
            boundary-links="true"
            rotate="false"
            first-text="&lt;&lt;"
            previous-text="&lt;"
            next-text="&gt;"
            last-text="&gt;&gt;"
        ></pagination>
    </div>

    <ul class="media-list" style="width: 100%;">
        <li class="media" ng-repeat="item in items">
            <div ng-include="itemTemplate" include-replace></div>
        </li>
        <li ng-show="!items.length" class="alert alert-danger" style="text-align: center" role="alert">No results</li>
    </ul>

    <div style="width: 100%; text-align: center">
        <pagination
            ng-show="items.length"
            class="pagination"
            ng-model="currentPage"
            page="currentPage"
            items-per-page="limit"
            total-items="totalItems"
            max-size="maxSize"
            boundary-links="true"
            rotate="false"
            first-text="&lt;&lt;"
            previous-text="&lt;"
            next-text="&gt;"
            last-text="&gt;&gt;"
        ></pagination>
    </div>
</div>
