<div class="frame">
    <form ng-submit="filterTable(filterText)">
        <input type="text" ng-model="filterText" />
        <input class="btn-primary" type="submit" value="Filter" />
    </form>

    <ul style="list-style: none;">
        <li ng-repeat="item in facetValues">
            <a href="" ng-click="toggleConstraint(item)">
                <span style="padding: 1px" ng-style="item.tags.isConstrainedEqual && { 'background-color': '#428bca', 'color': 'white', 'border-radius': '.25em;' }" title="{{item.node}}">{{item.labelInfo.displayLabel || item.node}}</span>
            </a>
        </li>
    </ul>
<!--     <table> -->
<!--               <tr><th>Value</th><th>Constrained</th></tr> -->
<!--         <tr ng-repeat="item in facetValues"> -->
<!--                   <td><span title="{{item.node}}">{{item.labelInfo.displayLabel || item.node}}</span></td> -->
<!--                   <td><input type="checkbox" ng-model="item.tags.isConstrainedEqual" ng-change="toggleConstraint(item)" /></td> -->
<!--               </tr> -->
<!--           </table> -->
          <pagination class="pagination-small" total-items="pagination.totalItems" page="pagination.currentPage" max-size="pagination.maxSize" boundary-links="true" rotate="false" num-pages="pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

