<ol class="breadcrumb facet-breadcrumb" scroll-glue-right>
    <!-- If the path is empty, show the instance list button  -->
    <li ng-if="model.pathHead.getPath().isEmpty() && (model.property===true || model.property==null)">
        <button class="btn btn-default" ng-disabled="model.pathHead.getPath().isEmpty() && model.property===true" ng-click="model.property=true">
            <span class="glyphicon glyphicon glyphicon-list"></span>
        </button>
    </li>

    <li>
        <button class="btn btn-default" ng-disabled="model.pathHead.getPath().isEmpty() && model.property==null" ng-click="setPath(0)">
            <span class="glyphicon glyphicon-home"></span>
        </button>
    </li>

<!--     <li ng-if="offset != 0"> -->
<!--         ... -->
<!--     </li> -->

<!-- .slice(-offset) -->
    <li ng-repeat="slot in state.slots">
        <button class="btn btn-default" ng-disabled="$last && !model.property" ng-click="setPath($index + 1)">
            {{slot.labelInfo.displayLabel || slot.property.getUri()}} {{slot.isInverse ? '-1' : ''}}
        </button>
    </li>

    <li ng-show="state.value == null && model.property !== true">
        <button class="btn btn-default" ng-click="invert()">
            {{model.pathHead.isInverse() ? '&lt;' : '&gt;'}}
        </button>
    </li>

    <li ng-show="state.value != null">
        <button class="btn btn-default" ng-disabled="true">
<!--         ng-click="model.property=null" -->
            {{state.value.labelInfo.displayLabel}} {{model.pathHead.isInverse() ? '-1' : ''}}
        </button>
    </li>


</ol>
