<div class="input-group-btn">
  <!--button type="button" class="btn btn-default no-border-radius" tabindex="-1">{{datatype.length === 0 ? "No Datatype" : datatype}}</button-->
  <button type="button" class="btn btn-default dropdown-toggle no-border-radius margin-left-1" data-toggle="dropdown" tabindex="-1">
    <span>{{datatype.length === 0 ? "No Datatype" : datatype}}</span>
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-left" role="menu">
    <li><a ng-click="setDatatype()" href="#">none</a></li>
    <li ng-repeat="(key,value) in datatypeTags"><a ng-click="setDatatype(key)" href="#">{{value}}</a></li>
  </ul>
</div>