<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" tabindex="-1">URI</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">URI</a></li>
      <li><a href="#">Typed</a></li>
      <li><a href="#">Plain</a></li>
    </ul>
  </div>
  <input type="text" class="form-control" >
</div>