<div id="jassa-edit-map" style="height:375px;">
  <input type="radio" value="point" name="geometry" ng-model="chooseGeometry" /><label>Point</label>
  <input type="radio" value="line" name="geometry" ng-model="chooseGeometry" /><label>Line</label>
  <input type="radio" value="polygon" name="geometry" ng-model="chooseGeometry" /><label>Polygon</label>
  <input type="radio" value="box" name="geometry" ng-model="chooseGeometry" /><label>Box</label><input type="text" class="form-control" ng-model="wkt" />
  <div id="openlayers-map" style="width: 100%; height: 300px;"></div>
</div>
