<div class="row" ng-init="ex06={}; ex06.context=createRexContext(); ex06.subject='dbr:Leipzig'">
    <div class="col-md-6">

        <div class="alert alert-info" role="alert">
            <h3>WKT &lt;-&gt; LonLat sync</h3>
            <i>Conditional generation of RDF using hidden fields</i>

            <form role="form" rex-context="ex06.context" rex-prefix="'geo: http://www.w3.org/2003/01/geo/wgs84_pos# dbr: http://dbpedia.org/resource/ dbo: http://dbpedia.org/ontology/'" rex-subject="ex06.subject" rex-typeof="'dbo:Place'">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">URI: </span>
                        <input name="uri" type="text" class="form-control" ng-model="ex06.subject">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">WKT: </span>
                        <input name="firstName" type="text" class="form-control" ng-model="ex06.wkt" rex-predicate="'geo:geometry'" rex-literal>
                    </div>
                </div>

                <span ng-hide="PointUtils.isWktPoint(ex06.wkt)">Could not parse input as a WKT Point</span>

                <!--
                    Note the '' + PointUtils... is there for converting null
                    and float values to string
                -->
                <input
                    ng-if="PointUtils.isWktPoint(ex06.wkt)"
                    type="hidden"
                    rex-predicate="'geo:long'"
                    rex-literal="'' + PointUtils.wktToXy(ex06.wkt).x"
                    rex-datatype="'xsd:float'"
                >

                <input
                    ng-if="PointUtils.isWktPoint(ex06.wkt)"
                    type="hidden"
                    rex-predicate="'geo:lat'"
                    rex-literal="'' + PointUtils.wktToXy(ex06.wkt).y"
                    rex-datatype="'xsd:float'"
                >

            </form>

        </div>

    </div>

    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <h3>Output</h3>

            <div ui-codemirror="editorOptions.ttl" ng-model="ex06.context.talisJson"></div>
        </div>
    </div>

</div>
