<div
    class="row"
    ng-init="data={}; data.baseIri='data:'; data.dists=[]"
    rex-context
    rex-sparql-service="sparqlService"
    rex-prefix="'data: http://example.org/dataset/ dist: http://example.org/distribution/ distgraphs: http://example.org/distribution-graphs o: http://example.org/ontology/ r: http://example.org/resource/ theme: http://example.org/resource/theme/'"
    rex-lookup="true">


    <div rex-subject="'http://dbpedia.org/resource/Leipzig'">
        <ul rex-nav-predicate="'http://www.w3.org/1999/02/22-rdf-syntax-ns#type'" rex-nav-targets="data.targets">
            <li ng-repeat="target in data.targets">{{target}}</li>
        </ul>
    </div>


    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Label: </span>
            <input type="text" class="form-control" ng-model="data.targets" ng-list=" " ng-trim="false" ng-model-options="defaultNgModelOptions">
        </div>
    </div>


    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <h3>Output</h3>

            <div
                ui-codemirror="editorOptions.ttl"
                ng-model="turtleStr"
                sync-template="{{graphToTurtle(rexContext.graph, rexPrefixMapping)}}">
            </div>

            <hr />
            Added:
            {{UpdateUtils.createInsertRequest(rexContext.diff.added, rexPrefixMapping)}}
            <div
                ui-codemirror="editorOptions.ttl"
                ng-model="addedStr"
                sync-template="{{UpdateUtils.createInsertRequest(rexContext.diff.added, rexPrefixMapping)}}"
            ></div>

            <hr />
            Removed:
            <div
                ui-codemirror="editorOptions.ttl"
                ng-model="removedStr"
                sync-template="{{UpdateUtils.createDeleteRequest(rexContext.diff.removed, rexPrefixMapping)}}"
            ></div>


            <button class="btn btn-primary" ng-class="{'disabled': !rexContext.diff.removed.size() && !rexContext.diff.added.size() }" ng-click="performUpdate(rexContext.diff, rexPrefixMapping)">Perform Update</button>

        </div>
    </div>

</div>
