<div
    class="alert alert-info"
    role="alert"
    ng-init="ex05={}; ex05.subject='http://dbpedia.org/resource/Leipzig'"
    rex-context
    rex-prefix="'dbr: http://dbpedia.org/resource/ dbo: http://dbpedia.org/ontology/'"
    rex-sparql-service="sparqlService"
    rex-lookup="true">

    <h3>Generic Resource Editor</h3>

<!--     <b>Summary of Types</b> -->
<!--     <i>Change them in the form, and they will change here as well</i>: -->
<!--     <div rex-subject="ex05.subject" ng-init="rdfType='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'"> -->
<!--         <div ng-repeat="(object, objectData) in rexContext.json[rexSubject][rdfType]" rex-predicate="rdfType"> -->
<!--             <span rex-object="$index" rex-value="val">{{val}}</span> -->
<!--         </div> -->
<!--     </div> -->
    <!-- rex-predicate will be ng-repeated, using an index on rex-object will select a different object for the predicate though -->


    <form role="form">
        <div class="form-group" >
            <div class="input-group">
                <span class="input-group-addon">IRI: </span>
                <input id="ex05top" type="text" class="form-control" ng-model="ex05.subject" ng-model-options="defaultNgModelOptions" ng-change="scrollTo('ex05top');">
            </div>
        </div>
    </form>



    <form role="form" name="editForm" rex-subject="ex05.subject">

        <rdf-term-input ng-init="term={}" name="test" ng-model="foo" ng-model-options="defaultNgModelOptions"></rdf-term-input>

        Is field pristine? <span ng-bind="editForm.test.$pristine"></span>
        Is form pristine? <span ng-bind="editForm.$pristine"></span>
        <button class="btn btn-primary" ng-click="editForm.test.$setPristine()">field</button>
        <button class="btn btn-primary" ng-click="editForm.$setPristine()">form</button>


        <div class="repeat-item" ng-repeat="(property, propertyData) in rexContext.json[rexSubject] track by property" rex-predicate="property">
<!-- <div ng-if="property == 'http://xmlns.com/foaf/0.1/homepage'"> -->
            {{rexPrefixMapping.shortForm(property)}}:

            <div class="repeat-item" ng-repeat="(object, objectData) in propertyData track by $index" rex-object ng-init="term={}" rex-deleted="deleted">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">{{$index + 1}}</span>
                    <rdf-term-input replace ng-model="term" ng-model-options="defaultNgModelOptions" rex-value="term.value" rex-termtype="term.type" rex-datatype="term.datatype" rex-lang="term.lang"></rdf-term-input>
<!-- name="field{{property}}-{{$index}}" -->
                    <div class="input-group-btn">
                      <button type="button" ng-click="deleted=!deleted" ng-class="deleted ? 'btn-danger' : 'btn-default'" style="line-height: 1.5;" class="btn margin-left-2"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                      <button type="button" style="line-height: 1.5;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a ng-click="copy(rexContext.json[rexSubject][rexPredicate][$index], term)" href="">Reset Value</a></li>
                      </ul>
                    </div>
                  </div>
                  <div ng-if="property === 'http://www.w3.org/2003/01/geo/wgs84_pos#geometry'">
                    <geometry-input ng-model="term.value" ng-model-options="defaultNgModelOptions" geocoding-services="mGeocodingServices"></geometry-input>
                  </div>
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.type" ng-model-options="defaultNgModelOptions" rex-termtype="term.type"> -->
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.value" ng-model-options="defaultNgModelOptions" rex-value="term.value"> -->
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.lang" ng-model-options="defaultNgModelOptions" rex-lang="term.lang"> -->
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.datatype" ng-model-options="defaultNgModelOptions" rex-datatype="term.datatype"> -->


                </div>
            </div>
            <button class="btn btn-primary" ng-click="propertyData.push(null)">Add Object</button>
        </div>
<!-- </div> -->
    </form>

    <i>It is important to note that although the form is generated from the selected resource's RDF data, the turtle representation below is generated from the form annotations. This means that
    a full round trip of the data is demonstrated.</i>
    <div
        ui-codemirror="editorOptions.ttl"
        ng-model="turtle"
        sync-template="{{graphToTurtle(rexContext.graph, rexPrefixMapping)}}"
    ></div>

    <hr />
    Added:
    <div
        ui-codemirror="editorOptions.ttl"
        ng-model="turtle"
        sync-template="{{UpdateUtils.createInsertRequest(rexContext.diff.added, rexPrefixMapping)}}"
    ></div>

    <hr />
    Removed:
    <div
        ui-codemirror="editorOptions.ttl"
        ng-model="turtle"
        sync-template="{{UpdateUtils.createDeleteRequest(rexContext.diff.removed, rexPrefixMapping)}}"
    ></div>


    <button class="btn btn-primary" ng-class="{'disabled': !rexContext.diff.removed.size() && !rexContext.diff.added.size() }" ng-click="performUpdate(rexContext.diff, rexPrefixMapping)">Perform Update</button>

</div>
