<div
    class="alert alert-info"
    role="alert"
    ng-init="ex05={}; ex05.subject='http://dbpedia.org/resource/LeipzigX'; addedProperties={};"
    rex-context
    rex-prefix="'dbr: http://dbpedia.org/resource/ dbo: http://dbpedia.org/ontology/'"
    rex-sparql-service="sparqlService"
    rex-lookup="true"
    rex-subject="ex05.subject">

    <h3>Generic Resource Editor</h3>

<!--     <b>Summary of Types</b> -->
<!--     <i>Change them in the form, and they will change here as well</i>: -->
<!--     <div rex-subject="ex05.subject" ng-init="rdfType='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'"> -->
<!--         <div ng-repeat="(object, objectData) in rexContext.json[rexSubject][rdfType]" rex-predicate="rdfType"> -->
<!--             <span rex-object="$index" rex-value="val">{{val}}</span> -->
<!--         </div> -->
<!--     </div> -->
    <!-- rex-predicate will be ng-repeated, using an index on rex-object will select a different object for the predicate though -->


    <form role="form">
        <div class="form-group" >
            <div class="input-group">
<!-- 	            <div ng-init="showRenamePredicateInput=false" class="visible-on-hover-parent"> -->
<!-- 	                <button ng:show="!showRenamePredicateInput" class="visible-on-hover-child" ng:click="showRenamePredicateInput=true"><span class="glyphicon glyphicon-edit"></span></button> -->
<!-- 	                {{rexPrefixMapping.shortForm(property)}}: -->

<!-- 	                <div ng:show="showRenamePredicateInput" ng:init="initPredicate=rexPredicate; newPredicate=initPredicate" ui:keydown="{esc: 'showRenamePredicateInput=false'}"> -->
<!-- 	                    <input auto-focus="focusLangInput" size="4" ng:model="newPredicate" type="text" class="lang-borderless"> -->
<!-- 	                    <button type="submit" style="cursor: pointer;" class="btn label label-info" ng:click="rexContext.renamePredicate(rexSubject, rexPredicate, newPredicate); property=newPredicate; showRenamePredicateInput=false"><span class="glyphicon glyphicon-ok"></span></button> -->
<!-- 	                    <button type="reset" style="cursor: pointer;" class="btn label label-warning" ng:click="showRenamePredicateInput=false"><span class="glyphicon glyphicon-remove"></span></button> -->
<!-- 	                </div> -->
<!-- 	            </div> -->


                <span class="input-group-addon">IRI: </span>
                <input id="ex05top" type="text" class="form-control" ng-model="ex05.subject" ng-model-options="defaultNgModelOptions" ng-change="scrollTo('ex05top');">
            </div>
        </div>
    </form>



    <form role="form" name="ex05.editForm">

<!--
        <rdf-term-input ng-init="term={}" name="test" ng-model="foo" ng-model-options="defaultNgModelOptions"></rdf-term-input>

        Is field pristine? <span ng-bind="editForm.test.$pristine"></span>
        Is form pristine? <span ng-bind="editForm.$pristine"></span>
        <button class="btn btn-primary" ng-click="editForm.test.$setPristine()">field</button>
        <button class="btn btn-primary" ng-click="editForm.$setPristine()">form</button>
-->

<!--         <div class="repeat-item" ng-repeat="(property, propertyData) in allProps = angular.extend(rexContext.json[rexSubject] || {}, addedProperties) track by property" rex-predicate="property"> -->
<!--         <div class="repeat-item" ng-repeat="(property, propertyData) in rexContext.json[rexSubject] track by property" rex-predicate="property"> -->
<!--         <div class="repeat-item" ng-repeat="propertyItem in rexContext.json[rexSubject] | toArray track by propertyItem.key"  ng-init="property=propertyItem.key; propertyData = propertyItem.val" rex-predicate="property"> -->

<!--         <div class="repeat-item" ng-repeat="propertyItem in test = rexContext.json[rexSubject] | toArray | rexPredicateNew:this | orderBy:isNew | stableArray track by $index"  ng-init="property=propertyItem.key; propertyData = propertyItem.val" rex-predicate="property"> -->
        <div class="repeat-item" ng-repeat="propertyItem in test = rexContext.json[rexSubject] | toArray | stableArray track by $index"  ng-init="property=propertyItem.key; propertyData = propertyItem.val" rex-predicate="property">


<!-- <div ng-if="property == 'http://xmlns.com/foaf/0.1/homepage'"> -->

            <!-- Rename Predicate Action -->
            <!-- The essence of this action is the execution of the statement -->
            <!-- rexContext.renamePredicate(rexSubject, rexPredicate, newPredicate); property=newPredicate -->
            <!-- The first part updates REX's internal state, the latter makes the form refer to the appropriate predicate -->
            <div ng-init="showRenamePredicateInput=false" class="visible-on-hover-parent">
                {{rexPrefixMapping.shortForm(property)}}:

                <button class="visible-on-hover-child" ng:click="rexContext.deleteProperty(rexSubject, rexPredicate)"><span class="glyphicon glyphicon-trash"></span></button>
                <button ng:show="!showRenamePredicateInput" class="visible-on-hover-child" ng:click="showRenamePredicateInput=true"><span class="glyphicon glyphicon-edit"></span></button>

                <div ng:show="showRenamePredicateInput" ng:init="initPredicate=rexPredicate; newPredicate=initPredicate" ui:keydown="{esc: 'showRenamePredicateInput=false'}">
                    <input auto-focus="focusLangInput" size="4" ng:model="newPredicate" type="text" class="lang-borderless">
                    <button type="submit" style="cursor: pointer;" class="btn label label-info" ng:click="rexContext.renamePredicate(rexSubject, rexPredicate, newPredicate); property=newPredicate; showRenamePredicateInput=false"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="reset" style="cursor: pointer;" class="btn label label-warning" ng:click="showRenamePredicateInput=false"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>

            <div class="repeat-item" ng-repeat="(object, objectData) in propertyData track by $index" rex-object ng-init="term={}" rex-deleted="deleted">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">{{$index + 1}}</span>
                    <rdf-term-input replace ng-model="term" ng-model-options="defaultNgModelOptions" rex-value="term.value" rex-termtype="term.type" rex-datatype="term.datatype" rex-lang="term.lang"></rdf-term-input>
<!-- name="field{{property}}-{{$index}}" -->
                    <div class="input-group-btn">
                      <button ng-if="$last" class="btn btn-default margin-left-2" style="line-height: 1.5" type="button" ng-click="propertyData.push({})"><span class="glyphicon glyphicon-plus-sign"></span></button>

                      <!-- Delete Object Action -->
                      <button type="button" class="btn" ng-click="deleted=!deleted" ng-class="deleted ? 'btn-danger' : 'btn-default'" style="line-height: 1.5"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                      <button type="button" style="line-height: 1.5;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a ng-click="copy(rexContext.json[rexSubject][rexPredicate][$index], term)" href="">Reset Value</a></li>
                      </ul>
<!--                       <button type="button" class="btn btn-default margin-left-2" ng-click="copy(rexContext.json[rexSubject][rexPredicate][$index], term)" style="line-height:1.5"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button> -->
                    </div>
                  </div>
                  <div ng-if="property === 'http://www.w3.org/2003/01/geo/wgs84_pos#geometry'">
                    <geometry-input ng-model="term.value" ng-model-options="defaultNgModelOptions"></geometry-input>
                  </div>
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.type" ng-model-options="defaultNgModelOptions" rex-termtype="term.type"> -->
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.value" ng-model-options="defaultNgModelOptions" rex-value="term.value"> -->
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.lang" ng-model-options="defaultNgModelOptions" rex-lang="term.lang"> -->
<!--                     <input type="text" logo="{{$index + 1}}" ng-model="term.datatype" ng-model-options="defaultNgModelOptions" rex-datatype="term.datatype"> -->


                </div>
            </div>
        </div>
<!-- </div> -->

        <hr />
<!--         <div class="form-group">          -->
<!--           <button class="btn btn-primary" ng-click="addedProperties.push({'http://newproperty.org': []})">Add property</button> -->
<!--         </div> -->

<!-- subject: {{rexSubject}} -->
<!-- working copy: {{rexContext.json}} -->
<!-- test: {{test}} -->
<!-- predicates: {{rexContext.override[rexSubject]}} -->


<!--         <button class="btn btn-primary" ng-click="rexContext.json[rexSubject]['http://newproperty.org'] = []">Add property</button> -->
    </form>

    <div ng-init="showPredicateInput=false">
        <button ng:show="!showPredicateInput" class="btn btn-primary" ng:click="showPredicateInput=true"><span class="glyphicon glyphicon-plus-sign"></span></button>
        <form ng:show="showPredicateInput" ng-init="initPredicate='http://'; newPredicate=initPredicate" ng:submit="rexContext.json[rexSubject][newPredicate] = []; showPredicateInput=false" ui:keydown="{esc: 'showPredicateInput=false'}">
            <input auto-focus="focusLangInput" size="4" ng:model="newPredicate" type="text" class="lang-borderless">
            <button type="submit" style="cursor: pointer;" class="btn label label-info"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="reset" style="cursor: pointer;" class="btn label label-warning" ng:click="showPredicateInput=false"><span class="glyphicon glyphicon-remove"></span></button>
        </form>
    </div>

    <i>It is important to note that although the form is generated from the selected resource's RDF data, the turtle representation below is generated from the form annotations. This means that
    a full round trip of the data is demonstrated.</i>
    <div
        ui-codemirror="editorOptions.ttl"
        ng-model="turtle"
        sync-template="{{graphToTurtle(rexContext.graph, rexPrefixMapping)}}"
    ></div>

    <hr />
    Added:
    <div
        ui-codemirror="editorOptions.ttl"
        ng-model="turtle"
        sync-template="{{UpdateUtils.createInsertRequest(rexContext.diff.added, null, rexPrefixMapping)}}"
    ></div>

    <hr />
    Removed:
    <div
        ui-codemirror="editorOptions.ttl"
        ng-model="turtle"
        sync-template="{{UpdateUtils.createDeleteRequest(rexContext.diff.removed, null, rexPrefixMapping)}}"
    ></div>


    <button class="btn btn-primary" ng-class="{'disabled': !rexContext.diff.removed.size() && !rexContext.diff.added.size() }" ng-click="performUpdate(rexContext, rexPrefixMapping, ex05.editForm)">Perform Update</button>

</div>
