<form role="form" ng-submit="onSubmit()" novalidate>
    <div class="form-group">
        <div class="input-group">
            <input
                ng-model="ngModel"
                type="text"
                class="form-control"
                placeholder="Find ...">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle no-border-radius" style="margin-left: -1px; margin-right: -1px;" data-toggle="dropdown">{{activeSearchMode.label}} <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-repeat="searchMode in searchModes"><a ng-click="setActiveSearchMode(searchMode)" href="#"><span bind-html-unsafe="searchMode.label"></span></a></li>
                </ul>
            </div>

            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</form>

