<!DOCTYPE html>
<html ng-app="FacetTreeDemo">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Jassa UI Angular: Facet Tree Demo</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css" />
    <link rel="stylesheet" href="bower_components/jassa-ui-angular/jassa-ui-angular.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/jassa-ui-angular.css" />
    <link rel="stylesheet" href="css/ng-grid/ng-grid.css" />

    <script src="bower_components/jscache/cache.js"></script>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jassa/jassa.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-grid/build/ng-grid.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/jassa-ui-angular/jassa-ui-angular-tpls.js"></script>
    <script src="bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.min.js"></script>

    <script src="/home/raven/Projects/Eclipse/jassa-core-parent/dist/jassa.js"></script>


    <script src="lib/angular-ui/0.10.0/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="bower_components/underscore.string/lib/underscore.string.js"></script>
    <script src="js/jassa-ui-angular-tpls.js"></script>

    <script src="lib/ng-grid/ng-grid-2.0.7.debug.js"></script>
<!--     <script src="https://rawgithub.com/angular-ui/ng-grid/master/plugins/ng-grid-flexible-height.js"></script> -->

    <style>
/*     .pagination > li > a, .pagination > li > span { */
/*         background-color: transparent; */
/*         border: 0px; */
/*     } */
/*     .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { */
/*         background-color: transparent; */
/*     } */
/*     .pagination { */
/*         margin: 0px; */
/*     } */

/*     .pagination-tiny > li > a { */
/*         padding: 0px 3px; */
/*     } */

    </style>

    <script type="text/ng-template" id="basicDescriptionTemplate.html">
        <a href="" style="font-family: verdana;">
            <table>
                <tr>
                    <td style="vertical-align: center;">
                        <div class="thumbnail href="" style="width: 48px; margin-right: 5px;">
                            <img ng-src="{{match.model.depiction}}">
                        </div>
                    </td>
                    <td style="vertical-align: text-top;">
                            <strong><span title="{{match.model.id}}" bind-html-unsafe="(match.model.displayLabel || match.model.id) | typeaheadHighlight:query"></span></strong>

                            <small><i>
                                <ul class="list-inline">
                                    <li ng-repeat="type in match.model.types"><span title="{{type.id}}">{{type.displayLabel || type.id}}{{$last ? '' : ', '}}</span></li>
                                </ul>
                            </i></small>
                    </td>
                </tr>
            </table>
        </a>
    </script>

    <script type="text/ng-template" id="default-list-item.html">
            <a class="pull-left" href="#">
                <div class="thumbnail thumbnail-center" style="width: 100px; height: 100px;">
                    <div class="thumbnail-wrapper">
                        <img ng-src="{{item.depiction}}">
                    </div>
                </div>
            </a>

            <div class="media-body">

                <b>{{item.label || 'Sorry, there is no title available in your preferred languages'}}</b> <a href="{{item.id}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                <br />
                <span bind-html-unsafe="item.comment || 'Sorry, there is no description available in your preferred languages' | typeaheadHighlight:searchString"></span>
            </div>
    </script>

    <script type="text/javascript">
    _.mixin(_.str.exports());

    jassa = new Jassa(Promise, $.ajax);

    var util = jassa.util;
    var rdf = jassa.rdf;
    var sparql = jassa.sparql;
    var service = jassa.service;
    var sponate = jassa.sponate;
    var facete = jassa.facete;

    var myModule = angular.module('FacetTreeDemo', ['ngSanitize', 'ui.bootstrap', 'ngGrid', 'ui.jassa']);

    myModule.controller('MyCtrl', ['$scope', '$q', function($scope, $q) {


        //var sparqlServiceFactory = new service.SparqlServiceFactoryDefault();

        //$scope.sparqlService = sparqlServiceFactory.createSparqlService('http://fp7-pp.publicdata.eu/sparql', []);

//         $scope.sparqlService = service.SparqlServiceBuilder
//             .http('http://fp7-pp.publicdata.eu/sparql', ['http://fp7-pp.publicdata.eu/'], {type: 'POST'})
//             .virtFix().cache().paginate(1000).pageExpand(100).create();

        //        $scope.sparqlService = sparqlServiceFactory.createSparqlService('http://localhost/fts-sparql', []);
            //.http('http://cstadler.aksw.org/conti/freebase/germany/sparql', ['http://freebase.com/2013-09-22/data/'], {type: 'POST'})


        /*
         * Set up the sparql service with as many buffs (decorations) as we like
         */
        $scope.sparqlService = service.SparqlServiceBuilder
           .http('http://akswnc3.informatik.uni-leipzig.de/data/misc/sparql', ['http://pokedex.org'], {type: 'POST'})
           .cache().virtFix().paginate(1000).pageExpand(100).create();


        /*
         * Set up the Sponate mapping for the data we are interested in
         */
        var prefixes = {
            'foaf': 'http://xmlns.com/foaf/0.1/',
            'pokedex': 'http://pokedex.dataincubator.org/pkm/'
        };

        var store = new sponate.StoreFacade($scope.sparqlService, prefixes);

        $scope.langs = ['de', 'en', 'fr', 'ja', 'it', 'es', ''];

        var labelConfig = new sparql.BestLabelConfig($scope.langs);
        var labelTemplate = sponate.MappedConceptUtils.createMappedConceptBestLabel(labelConfig);
        var commentTemplate = sponate.MappedConceptUtils.createMappedConceptBestLabel(new sparql.BestLabelConfig($scope.langs, [rdf.NodeFactory.createUri(prefixes.pokedex + 'description')]));

        store.addMap({
            name: 'pokemons',
            template: [{
                id: '?s',
                label: { $ref: { target: labelTemplate, attr: 'displayLabel' }},
                comment: { $ref: { target: commentTemplate, attr: 'displayLabel' }},
                depiction: '?d',
            }],
            from: '?s a pokedex:Pokemon . Optional { ?s foaf:depiction ?d }'
        });


        store.addMap({
            name: 'basicDescriptions',
            template: [{
                id: '?s',
                depiction: '?d',
                displayLabel: { $ref: { target: labelTemplate, attr: 'displayLabel' } },
                types: [{
                    id: '?t',
                    displayLabel: { $ref: { target: labelTemplate, attr: 'displayLabel', on: '?t' } },
                }],
            }],
            from: '?s a ?t . Optional { ?s foaf:depiction ?d }',
        });

        $scope.facetTreeConfig = new facete.FacetTreeConfig();
        $scope.facetTreeConfig.getFacetConfig().setBaseConcept(sparql.ConceptUtils.createTypeConcept('http://pokedex.dataincubator.org/pkm/Pokemon'));
//         console.log('FacetTreeConfig: ', $scope.facetTreeConfig);
        $scope.facetTreeConfig.getFacetTreeState().getPathExpansions().add(new facete.Path());


        $scope.ftac = {
            sparqlService: $scope.sparqlService,
            facetConfig: $scope.facetTreeConfig.getFacetConfig(),
            store: store,
            search: function(searchString) {
                var relation = sparql.LabelUtils.createRelationPrefLabels(labelConfig);
                var r = sparql.KeywordSearchUtils.createConceptRegex(relation, searchString, true);
                return r;
            }
        };


        $scope.path = null;
        $scope.data = {};

        $scope.selectFacet = function(path) {
            //alert('Selected Path: [' + path + ']');
            $scope.path = path;
        };

        $scope.listService = store.pokemons.getListService();
        $scope.listService = new service.ListServicePageExpand($scope.listService, 100);


        $scope.$watch('facetTreeConfig.getFacetConfig().getConstraintManager();', function() {
            $scope.facetValueConceptService = new facete.FacetValueConceptServiceExact($scope.facetTreeConfig.getFacetConfig());

            $scope.facetValueConceptService.prepareConcept(new facete.Path()).then(function(concept) {


                var q = new sparql.Query();
                q.setQuerySelectType();
                q.setQueryPattern(concept.getElement());
                q.getProject().add(concept.getVar());
                q.getOrderBy().push(new sparql.SortCondition(new sparql.ExprVar(concept.getVar())));

                concept = new sparql.Concept(new sparql.ElementSubQuery(q), concept.getVar());

                console.log('CONCEPT: ' + concept);

                $q.when($scope.listService.fetchItems(concept, 10)).then(function(items) {
                    console.log('Got ' + items.length + ' items');
                    $scope.items = _(items).pluck('val');
                });

                $q.when($scope.listService.fetchCount(concept)).then(function(countInfo) {
                    $scope.itemCount = countInfo;
                });
            });

        }, true);



/*

        var facetConfig = $scope.facetTreeConfig.getFacetConfig();


        var vs = rdf.NodeFactory.createVar('s');
        var facetConceptFactory = new facete.ConceptFactoryFacetConfig(facetConfig);

        $scope.ObjectUtils = util.ObjectUtils;
        $scope.fcf = facetConceptFactory;
        $scope.$watch('ObjectUtils.hashCode(fcf)', function() {
           console.log('fcf:' + $scope.fcf.createConcept());
        }, true);


        var dataConcept = facete.ConceptUtils.createSubjectConcept(vs);
        var elementFactory = new sparql.ElementFactoryJoinConcept(new facete.ConceptFactoryConst(dataConcept), facetConceptFactory);

        var tableMod = new facete.TableMod();
        var queryFactory = new facete.QueryFactoryTableMod(elementFactory, tableMod);

        tableMod.addColumn('s');
        tableMod.addColumn('_p_');
        tableMod.addColumn('_o_');


        / *

        var facetTableConfig = new facete.FacetTableConfig($scope.facetTreeConfig.getFacetConfig());
        facetTableConfig.togglePath(facete.Path.parse(''));
        //var 7baseEf = new sparql.ElementFactoryConst(sparql.ElementString.create('?s ?p ?o'));
        var qf = new facete.QueryFactoryFacetTable(facetTableConfig);
        var tableMod = facetTableConfig.getTableMod();
        var queryFactory = new facete.QueryFactoryFacetTable(facetTableConfig);
        * /

        $scope.facetTableConfig = {
            queryFactory: queryFactory,
            tableMod: tableMod
        };
*/

    }]);
    </script>

</head>

<body ng-controller="MyCtrl">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3>Combination Demo</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            <form role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input
                                            ng-model="data.species"
                                            facet-typeahead="ftac"
                                            facet-typeahead-path="'<http://pokedex.dataincubator.org/pkm/speciesOf'"
                                            facet-typeahead-suggestions="'basicDescriptions'"
                                            facet-typeahead-label="displayLabel"
                                            facet-typeahead-model="id"
                                            typeahead-template-url="basicDescriptionTemplate.html"
                                            typeahead-loading="data.speciesLocations"
                                            type="text"
                                            class="form-control"
                                            placeholder="Species"
                                        >
                                        <span class="input-group-btn">
                                            <button ng-disabled="data.species == null || data.species===''" ng-click="data.species=''" class="btn btn-default" type="button">
                                                <span class="glyphicon" ng-class="data.loadingSpecies ? 'glyphicon-refresh' : 'glyphicon-remove-circle'"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <facet-tree sparql-service="sparqlService" facet-tree-config="facetTreeConfig" select="selectFacet(path)"></facet-tree>
                        <facet-value-list sparql-service="sparqlService" facet-tree-config="facetTreeConfig" path="path"></facet-value-list>
                        <constraint-list sparql-service="sparqlService" facet-tree-config="facetTreeConfig"></constraint-list>
                    </div>
                </div>

            </div>

            <div class="col-md-7">

               {{itemCount}} items
               <ul class="media-list">
                   <li class="media" ng-repeat="item in items" ng-include="'default-list-item.html'"></li>
                   <li ng-show="!items.length" class="alert alert-danger" style="text-align: center" role="alert">No results</li>
               </ul>
            </div>
        </div>
    </div>

</body>

</html>

