<div ng-class="{'frame': facet.isExpanded}">

    <div class="facet-row visible-on-hover-parent" ng-class="{'highlite': facet.isExpanded}">
        <a class="visible-on-hover-child" href="" ng-click="toggleCollapsed(facet.path)"><span class="glyphicon" ng-class="facet.isExpanded ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span></a>

        <a href="" title="Showing incoming facets. Click to show outgoing facets." ng-if="facet.isExpanded && facet.incoming" ng-click="selectOutgoing(facet.path)"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <a href="" title="Showing outgoing facets. Click to show incoming facets." ng-if="facet.isExpanded && facet.outgoing" ng-click="selectIncoming(facet.path)"><span class="glyphicon glyphicon-arrow-right"></span></a>


        <a title="{{facet.property.getUri()}}" href="" ng-click="toggleSelected(facet.path)">{{facet.labelInfo.displayLabel || facet.property.getUri()}}</a>

        <a style="margin-left: 5px; margin-right: 5px;" ng-class="!facet.isExpanded ? 'hide' : { 'visible-on-hover-child': !facet.tags.showControls }" href="" ng-click="toggleControls(facet.path)"><span class="glyphicon glyphicon-cog"></span></a>

        <template-list style="list-style:none; display: inline; padding-left: 0px;" templates="plugins" data="facet" context="pluginContext"></template-list>

        <span style="float: right" class="badge" ng-bind-html="(!facet.valueCountInfo || facet.valueCountInfo.hasMoreItems) ? '&#8230;' : ('' + facet.valueCountInfo.count)"></span>

        <div ng-if="facet.isExpanded && facet.tags.showControls && facet.incoming" style="width:100%" ng-repeat="dirset in [facet.incoming]" ng-include="'template/facet-tree/facet-dir-ctrl.html'"></div>
        <div ng-if="facet.isExpanded && facet.tags.showControls && facet.outgoing" style="width:100%" ng-repeat="dirset in [facet.outgoing]" ng-include="'template/facet-tree/facet-dir-ctrl.html'"></div>
    </div>

    <div ng-if="facet.isExpanded" style="width:100%">

        <div ng-if="facet.isExpanded && facet.incoming" ng-repeat="dirset in [facet.incoming]" ng-include="'template/facet-tree/facet-dir-content.html'"></div>
        <div ng-if="facet.isExpanded && facet.outgoing" ng-repeat="dirset in [facet.outgoing]" ng-include="'template/facet-tree/facet-dir-content.html'"></div>

    </div>

</div>
