
<!-- ng-show="dirset.pageCount > 1 || dirset.children.length > 5" -->


<!--                 		<div ng-show="dirset.pageCount != 1" style="width:100%; background-color: #eeeeff"> -->
<!--     		         		<pagination style="padding-left: {{16 * (dirset.path.getLength() + 1)}}px" class="pagination-tiny" max-size="7" total-items="dirset.childFacetCount" page="dirset.pageIndex" boundary-links="true" rotate="false" on-select-page="selectFacetPage(page, facet)" first-text="<<" previous-text="<" next-text=">" last-text=">>"></pagination> -->
<!--                 		</div> -->

<span ng-show="dirset.children.length == 0"
	style="color: #aaaaaa; padding-left: {{16*(dirset.path.getLength()+1)}}px">(no
	entries)</span>

<div style="padding-left: {{16*(dirset.path.getLength()+1)}}px"
	ng-repeat="facet in dirset.children"
	ng-include="'template/facet-tree/facet-tree-item.html'" ></div>


