<div style="width: 100%; background-color: #eeeeff;">
    {{pageCount}} {{currentPage}}
    <div style="padding-right: 16px; padding-left: 16px">

        <form class="form-inline" role="form" ng-submit="doFilter(dirset.pathHead, dirset.filterString)">

            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Filter" ng-model="dirset.filterString" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default input-sm">Filter</button>
            </div>

        </form>
    </div>
</div>

